<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to iEX Trading, <%= @user.name %>!</h1>
    <p>
      Please wait for your account to be activated by our administrator.
    </p>
    <p>Thanks for joining and have a great day!!</p>
    <p> Regards. </p>
    <p> iEX Team </p>
  </body>
</html>
